<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transaction-table">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `transaction-table`
     * Elemento para la tabla de transactions
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionTable extends Polymer.Element {
      static get is() { return 'transaction-table'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'transaction-table'
          }
        };
      }
    }

    window.customElements.define(TransactionTable.is, TransactionTable);
  </script>
</dom-module>
